.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
android/.gradle/
android/app/debug/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
.DS_Store
